*.vsidx
**/bin/Debug/
**/bin/Release/
**/obj/
**/.vs/
*.vs/
MovieAnime/bin
MovieShare/obj
MovieContext/Migrations/
MovieContext/wwwroot/
Travel.Shared/PrUtility.dll
TravelApi/wwwroot/
TravelContext/wwwroot/
TravelContext